{% extends "layout.html" %}

{% block content %}
	<div class="container aboutcontent">
		<h1>About</h1>
		<h5><br>
		<p>
			DataWeeb is an online anime and manga listing platform managed for weebs (the affectionate term for fans of anime and manga) by weebs. It allows verified users to modify the listings themselves, like a Wikipedia for fans of Japanese comics and animation. Even as a visitor and non verified user, you still have access to the listing. The developers created this with a "leave no man behind" mindset.
		</p><br>
		<p>
			DataWeeb was developed and is currently being maintained by three students from the University of the Philippines Diliman, Department of Computer Science who are avid fans of various anime and manga. Seeing the need for a simple, elegant, up-to-date listing, the creators got right on it using their extensive knowledge in Bootstrap, Python, and the Flask framework.
		</p><br><br>
		<p>
			"Dedicated to CS 165, for giving us the avenue to birth this beautiful creation."
		</p>
	</h5>
	</div>
{% endblock content %}