{% extends "layout.html" %}

{% block content %}
	<div class="row">
	  <div class="col-md-1">
	  </div>
	  <div class="col-md-10">
	  	<div class="container anime">
			<h1> Anime </h1>
		</div>
		<div class="container anime">
			<table class="boardTable">
			<tr>
				<th>Title</th>
				<th>Date Premiered</th>
				<th>Anime Type</th>
				<th>Rating</th>
				<th>Studio</th>
				<th>Genre</th>
			</tr>
					{% for post in anime %}
					<tr>
						<td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('viewepisode', anime_id=post.id) }}">{{post.title}}</a></td>
						<td>{{ post.premiered }}</td>
						<td>{{ post.anime_type }}</td>
						<td>{{ post.rating }}</td>
						<td>{{ post.studio }}</td>
						<td>{{ post.genre }}</td>
						{% if current_user.is_authenticated %}
						<td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_anime', anime_id=post.id) }}">Update</a></td>
						<td><form action="{{ url_for('delete_anime', anime_id=post.id) }}" method="POST">
							<input class="btn btn-danger" type="submit" value="Delete">
						  </form></td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			
		</div>
      </div>
      <div class="col-md-1">
	  </div>
    </div>
{% endblock content %}