{% extends "layout.html" %}

{% block content %}
	<div class="row">
	  <div class="col-md-1">
	  </div>
	  <div class="col-md-10">
	  	<div class="container anime">
			<h1> Latest Releases </h1>
		</div>
		<div class="container announcements">
			<table class="boardTable">
			<tr>
				<th>Title</th>
				<th>Date Premiered</th>
				<th>Anime Type</th>
				<th>No. of Episodes</th>
				<th>Rating</th>
				<th>Studio</th>
				<th>Genre</th>
			</tr>
			</table>
			
		</div>
      </div>
      <div class="col-md-1">
	  </div>
    </div>
{% endblock content %}