<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Shit -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <title>DataWeeb</title>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">DataWeeb</a></li>
          <li><a href="{{ url_for('anime')}}">Anime</a></li>
          <li><a href="{{ url_for('manga')}}">Manga</a></li>
          <li><a href="{{ url_for('about')}}">About</a></li>
        </ul>
        <form class="navbar-form navbar-right" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </form>
        <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{{ url_for('account') }}">{{current_user.username}}</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
                <li><a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="nav-item nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
              {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid cover" style="margin-top:50px">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}
    </div>

  </body>
</html>