.cover {
	background-image: url("cover2.png");
  background-position: bottom;
  background-size: 120%;
  background-repeat: no-repeat;
	position: absolute;
	height: 125%;
	width:	100%;
  opacity: 0.75;
}

.login {
	margin-top: 5%;
  background-color: lightblue;
  vertical-align: middle;

  border-right: 1px solid black; 
  border-left: 1px solid black;
  border-top: 1px solid black; 
  border-bottom: 1px solid black;

  padding-bottom: 2%;
}

.announcements {
  margin-top: 3%;
  background-color: black;
  border-right: 1px solid black; 
  border-left: 1px solid black;
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  text-align: left;
  color: lightblue;
  width: 90%;
}

.anime {
  margin-top: 3%;
  background-color: black;
  border-right: 1px solid blue; 
  border-left: 1px solid blue;
  border-top: 1px solid blue; 
  border-bottom: 1px solid blue;
  text-align: left;
  color: lightblue;
  width: 90%;
}

.manga {
  margin-top: 3%;
  background-color: black;
  border-right: 1px solid blue; 
  border-left: 1px solid blue;
  border-top: 1px solid blue; 
  border-bottom: 1px solid blue;
  text-align: left;
  color: lightblue;
  width: 90%;
}

.boardTable {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
}

.quote {
  margin-top: 5%;
  text-align: right;
  color: gray;
  font-style: italic;
}

.account-img {
  margin-top: 1%;
  max-height: 200px;
  max-width: 200px;
}

.update {
  margin-right: 5px;
  margin-left: 5px;
}

.delete {
  margin-right: 5px;
  margin-left: 5px;
}

.profile {
  margin: 5% 2% 2% 2%;
}

.profileheader {
  margin: 5% 2% 2% 2%;
}

.accountform {
  max-width: 50%;
}

.aboutcontent {
  margin-top: 5%;
  margin-left: 5%;
  font-style: italic;
  color: black;
  width: 50%;
}

table {
  margin-bottom: 2%;
  margin-top: 2%;
}

th {
  border-top: 1px solid gray;
  border-right: 1px solid gray; 
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 40%;
}

td {
  border-right: 1px solid gray; 
  border-left: 1px solid gray;
  border-top: 1px solid gray; 
  border-bottom: 1px solid gray;
  padding-bottom: 3%;
  padding-top: 3%;
  width: 40%;
}